@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;1,500&display=swap');

*{
    margin: 0;
    padding: 0;

}
body{
    font-family: lato, sans-serif;
    font-weight:300;
    color:rgb(25, 29, 33)
}
.header{
    min-height: 10vh;
    width: 100%;
    background: lightblue;
    background-position: center;
    background-size: cover;
    position: relative;
 /* nav{
    <a href="index.html"><img src: "/assets/images/ardex_logo.phg" alt:"ardex logo";
 } */
}
#logo{
    float: left;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 6px;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block
    padding: 8px 12px;
    position: relative;
  }
 
  .nav-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
  }